  <div class="blog-post">
    <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
    <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
    <p class="blog-post-meta">Topic: <%= blog.topic.title %> </p>


    <% if logged_in?(:site_admin) %>
      <% if blog.draft? %>
        <% tog_status = "Published" %>
        <% button = "primary" %>
      <% else %>
        <% tog_status = "Draft" %>
        <% button = "info" %>
      <% end %>
        <p class="blog-post-meta">
          <%= link_to "Change Status to #{tog_status}", toggle_status_blog_path(blog), class: "btn btn-#{button}" %>
          <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </p>
    <% end %>

    <p><%= blog.body %></p>

  </div>  

  