
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <italics>Topic: <%= Topic.find(@blog.topic_id).title %> </italics>
</p>



<p>
  <strong>Body:</strong>
  <%= markdown @blog.body %>
</p>

<%= link_to 'Edit Blogpost', edit_blog_path(@blog), class: 'btn btn-warning' if logged_in?(:site_admin)%> 
<%= link_to 'Back to Overview', blogs_path, class: 'btn btn-primary' %> 

<%= render "comments/comment_form" %>
<!-- Start Display Comments -->
<div id="comments" data-blog-id="<%= @blog.id %>">
  <%= render @blog.comments %>
</div>


<%= link_to 'Back to Overview', blogs_path, class: 'btn btn-primary' %> 

